<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= typeof title != 'undefined' ? title : 'Mi App' %></title>  
  <link rel="stylesheet" href="/css/formStyles.css" type="text/css" />    
</head>
<body>